<!DOCTYPE html>
<html lang="en">
<head>
  <title> 80 Frequent Diagnosis Tests</title>
<meta charset="UTF-8">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#000000" />
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='//fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
<link href='//fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
<link rel="icon" type="image/gif/png" href="https://cdn2.iconfinder.com/data/icons/medical-icons-6/48/4-512.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<style>
.small_div{
  width: 90%
}
.small_div_header{
  width: 80%
}
/* Turn off parallax scrolling for tablets and phones */
@media screen and (min-width: 480px) {
    .small_div {
      width: 60%
    }
    .small_div_header{
      width: 30%
    }
}
.container {
  position: relative;
  width: 100%;
}
.image {
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}
.container:hover .overlay {
  opacity: 1;
}
.text {
  color: #000000;
  font-size: 15px;
  position: absolute;
}
.font-paragraph{
  font-family: Ubuntu;
}
.font-heading{
  font-family: Merriweather;
}
</style>

<body class="w3-center">

<div class="w3-container w3-wide w3-center w3-padding-64">
    <h2 id="home">80 Diagnosis Description</h2>
</div>

  <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id1')">
             
<h5>Heart Failure</h5>
 
     <div class="w3-container w3-cell w3-hide" style="width: 20%" id="id1">
             <a href="http://www.icd9data.com/2015/Volume1/390-459/420-429/428/default.htm">ICD 428 Info	</a>            
                
      </div>
  </div>

      <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id2')">
    <h5>Disorders of fluid, electrolyte, and acid-base balance</h5> 
    <div class="w3-container w3-cell w3-hide" style="width: 20%" id="id2">
           <a href="http://www.icd9data.com/2015/Volume1/240-279/270-279/276/default.htm">ICD 276 & Info</a>               
            
             </div>
</div>
             
<div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id3')">


<h5>Cardiac dysrhythmias</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id3">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/420-429/427/default.htm">ICD 427 & Info</a>               
            
             </div>
</div>

<div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id4')">


<h5>Diabetes mellitus</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id4">
           <a href="http://www.icd9data.com/2015/Volume1/240-279/249-259/250/default.htm">ICD-250 & Info</a>               
            
             </div>
</div>

<div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id5')">


<h5>Essential hypertension</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id5">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/401-405/401/default.htm">ICD-401 & Info</a>               
            
             </div>
</div>
    
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id6')">


<h5>Other Diseases of Lung</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id6">
           <a href="http://www.icd9data.com/2015/Volume1/460-519/510-519/518/default.htm">ICD-518 & Info</a>               
            
             </div>
</div>
    

 <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id7')">


<h5>Polyglandular dysfunction and related disorders </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id7">
           <a href="http://www.icd9data.com/2015/Volume1/240-279/249-259/258/default.htm">ICD-258 & Info</a>               
            
             </div>
</div>

     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id8')">


<h5>Disorders of lipoid metabolism </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id8">
           <a href="http://www.icd9data.com/2015/Volume1/240-279/270-279/272/default.htm">ICD-272 & Info</a>               
            
             </div>
</div>

    
  <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id9')">


<h5>Acute renal failure </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id9">
           <a href="http://www.icd9data.com/2015/Volume1/580-629/580-589/584/default.htm">ICD-584 & Info</a>               
            
             </div>
</div>

     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id10')">


<h5>Chronic renal failure </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id10">
           <a href="http://www.icd9data.com/2015/Volume1/580-629/580-589/585/default.htm">ICD-585 & Info</a>               
            
             </div>
</div>
    
 <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id11')">


<h5>Hypertensive renal disease </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id11">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/401-405/403/default.htm">ICD-403</a>           
           &emsp;
    <a href="http://www.webmd.com/hypertension-high-blood-pressure/guide/what-is-renal-hypertension#1">Info</a>   
            
             </div>
</div>

<div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id12')">


<h5>Disorders of urethra and urinary tract</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id12">
           <a href="http://www.icd9data.com/2015/Volume1/580-629/590-599/599/default.htm">ICD-599 & Info</a>
           
            
             </div>
</div>
    
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id13')">


<h5>Diseases of esophagus</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id13">
           <a href="http://www.icd9data.com/2015/Volume1/520-579/530-539/530/default.htm">ICD-530 & Info</a>
           
            
</div>
</div>
    
    
 <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id14')">


<h5>Septicaemia</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id14">
           <a href="http://www.icd9data.com/2015/Volume1/001-139/030-041/038/default.htm">ICD-038 & Info</a>           
           
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id15')">


<h5>Chronic ulcer of skin</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id15">
           <a href="http://www.icd9data.com/2015/Volume1/680-709/700-709/707/default.htm">ICD-707 & Info</a>           
           
            
             </div>
</div>
   
 <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id16')">


<h5>Complications peculiar to certain specified procedures</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id16">
           <a href="http://www.icd9data.com/2015/Volume1/800-999/996-999/996/default.htm">ICD-996</a>           
            &emsp;
    <a href="http://icd9.chrisendres.com/index.php?action=child&recordid=10281">Info</a>
            
             </div>
</div>

<div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id17')">


<h5>Certain adverse effects not elsewhere classified</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id17">
           <a href="http://www.icd9data.com/2015/Volume1/800-999/990-995/995/default.htm">ICD-995 & Info</a>           
           
            
             </div>
</div>

    
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id18')">


<h5>Other complications of procedures</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id18">
           <a href="http://www.icd9data.com/2015/Volume1/800-999/996-999/998/default.htm">ICD-998 & Info</a>           
           
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id19')">


<h5>Bacterial infection in conditions classified elsewhere</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id19">
           <a href="http://www.icd9data.com/2015/Volume1/001-139/030-041/041/default.htm">ICD-NEC041</a>           
           
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id20')">


<h5>Acquired hypothyroidism</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id20">
           <a href="http://www.icd9data.com/2015/Volume1/240-279/240-246/244/default.htm">ICD-244</a>           
            &emsp;
    <a href="https://www.cincinnatichildrens.org/health/a/hypothyroidism">Info</a>
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id21')">


<h5>Pneumonia, organism unspecified</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id21">
           <a href="http://www.icd9data.com/2015/Volume1/460-519/480-488/486/default.htm">ICD-486</a>           
            
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id22')">


<h5>Orthostatic hypotension </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id22">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/451-459/458/default.htm">ICD-458 & Info</a>           
            
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id23')">


<h5>Diseases of endocardium </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id23">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/420-429/428/default.htm">ICD-4284</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id24')">


<h5>Chronic airway obstruction </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id24">
           <a href="http://www.icd9data.com/2015/Volume1/460-519/490-496/496/default.htm">ICD-496 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id25')">


<h5>Complications affecting specified body systems, not elsewhere classified</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id25">
           <a href="http://www.icd9data.com/2015/Volume1/800-999/996-999/997/default.htm">ICD-997</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id26')">


<h5>Nondependent abuse of drugs</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id26">
           <a href="http://www.icd9data.com/2015/Volume1/290-319/300-316/305/default.htm">ICD-305 & Info</a>           
            
            
             </div>
</div>
    
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id27')">


<h5>Acute myocardial infarction</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id27">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/410-414/410/default.htm">ICD-410 & Info</a>           
            
            
             </div>
</div>
    
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id28')">


<h5>Purpura and other hemorrhagic conditions</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id28">
           <a href="http://www.icd9data.com/2015/Volume1/280-289/287/default.htm">ICD-287 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id29')">


<h5>Chronic liver disease and cirrhosis</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id29">
           <a href="http://www.icd9data.com/2015/Volume1/520-579/570-579/571/default.htm">ICD-571 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id30')">


<h5>Asthma</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id30">
           <a href="http://www.icd9data.com/2015/Volume1/460-519/490-496/493/default.htm">ICD-493 & Info</a>           
            
            
             </div>
</div>
    
<div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id31')">


<h5>Depressive disorder </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id31">
           <a href="http://www.icd9data.com/2015/Volume1/290-319/300-316/311/default.htm">ICD-311 & Info</a>           
            
            
             </div>
</div>
    
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id32')">


<h5>Old myocardial infarction  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id32">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/410-414/412/default.htm">ICD-412 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id33')">


<h5>Viral hepatitis  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id33">
           <a href="http://www.icd9data.com/2015/Volume1/001-139/070-079/070/default.htm">ICD-070</a>           
            
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id34')">


<h5>Pleurisy </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id34">
           <a href="http://www.icd9data.com/2015/Volume1/460-519/510-519/511/default.htm">ICD-511 & Info</a>           
            
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id35')">


<h5>Pneumonitis due to solids and liquids</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id35">
           <a href="http://www.icd9data.com/2015/Volume1/460-519/500-508/507/default.htm">ICD-507</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id36')">


<h5>Chronic pulmonary heart disease</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id36">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/415-417/416/default.htm">ICD-416 & Info</a>           
            
            
             </div>
</div>
   
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id37')">


<h5>Sleep disorders</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id37">
           <a href="http://www.icd9data.com/2015/Volume1/320-389/320-327/327/default.htm">ICD-327</a>           
            
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id38')">


<h5>Disorders of bone and cartilage </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id38">
           <a href="http://www.icd9data.com/2015/Volume1/710-739/730-739/733/default.htm">ICD-733 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id39')">


<h5>Neurotic disorders </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id39">
           <a href="http://www.icd9data.com/2015/Volume1/290-319/300-316/300/default.htm">ICD-300</a>           
            
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id40')">


<h5>Obesity and other hyperalimentation </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id40">
           <a href="http://www.icd9data.com/2015/Volume1/240-279/270-279/278/default.htm">ICD-278 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id41')">


<h5>Other conditions of brain  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id41">
           <a href="http://www.icd9data.com/2015/Volume1/320-389/340-349/348/default.htm">ICD-348 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id42')">


<h5>Gastrointestinal hemorrhage  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id42">
           <a href="http://www.icd9data.com/2015/Volume1/520-579/570-579/578/default.htm">ICD-578 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id43')">


<h5>Liver abscess and sequelae of chronic liver disease </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id43">
           <a href="http://www.icd9data.com/2015/Volume1/520-579/570-579/572/default.htm">ICD-572 & Info</a>           
            
            
             </div>
</div>
   
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id44')">


<h5>Bacterial pneumonia </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id44">
           <a href="http://www.icd9data.com/2015/Volume1/460-519/480-488/482/default.htm">ICD-482</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id45')">


<h5>Cardiomyopathy </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id45">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/420-429/425/default.htm">ICD-425 & Info</a>           
            
            
             </div>
</div>
   
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id46')">


<h5>Iron deficiency anemias </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id46">
           <a href="http://www.icd9data.com/2015/Volume1/280-289/280/default.htm">ICD-280 & Info</a>           
            
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id47')">


<h5>Atherosclerosis</h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id47">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/440-449/440/default.htm">ICD-440 & Info</a>           
            
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id48')">


<h5>Inflammatory and toxic neuropathy </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id48">
           <a href="http://www.icd9data.com/2015/Volume1/320-389/350-359/357/default.htm">ICD-357 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id49')">


<h5>Secondary malignant neoplasm of other specified sites </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id49">
           <a href="http://www.icd9data.com/2015/Volume1/140-239/190-199/198/default.htm">ICD-198 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id50')">


<h5>Other peripheral vascular disease  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id50">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/440-449/443/default.htm">ICD-443 & Info</a>           
            
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id51')">


<h5>Secondary malignant neoplasm of respiratory and digestive systems  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id51">
           <a href="http://www.icd9data.com/2015/Volume1/140-239/190-199/197/default.htm">ICD-197 & Info</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id52')">


<h5>Intestinal infections due to other organisms </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id52">
           <a href="http://www.icd9data.com/2015/Volume1/001-139/001-009/008/default.htm">ICD-008</a>           
             &emsp;
    <a href="http://www.humanillnesses.com/Infectious-Diseases-He-My/Intestinal-Infections.html">Info</a>
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id53')">


<h5>Late effects of cerebrovascular disease </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id53">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/430-438/438/default.htm">ICD-438</a>           
             &emsp;
    <a href="http://www.healthetreatment.com/condition/late-effects-of-cerebrovascular-disease/">Info</a>
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id54')">


<h5>Alcohol dependence syndrome </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id54">
           <a href="http://www.icd9data.com/2015/Volume1/290-319/300-316/303/default.htm">ICD-303 & Info</a>           
            
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id55')">


<h5>Venous embolism and thrombosis </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id55">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/451-459/453/default.htm">ICD-453 & Info</a>           
            
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id56')">


<h5>Epilepsy </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id56">
           <a href="http://www.icd9data.com/2015/Volume1/320-389/340-349/345/default.htm">ICD-345</a>           
            
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id57')">


<h5>Cellulitis and abscess </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id57">
           <a href="http://www.icd9data.com/2015/Volume1/680-709/680-686/682/default.htm">ICD-682</a>           
             &emsp;
    <a href="http://www.medicinenet.com/cellulitis/article.htm">Info</a>
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id58')">


<h5>Coagulation defects </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id58">
           <a href="http://www.icd9data.com/2015/Volume1/280-289/286/default.htm">ICD-286 & Info</a>           
             
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id59')">


<h5>Intestinal obstruction without mention of hernia </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id59">
           <a href="http://www.icd9data.com/2015/Volume1/520-579/560-569/560/default.htm">ICD-560 & Info</a>           
             
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id60')">


<h5>Candidiasis </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id60">
           <a href="http://www.icd9data.com/2015/Volume1/001-139/110-118/112/default.htm">ICD-112 & Info</a>           
             
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id61')">


<h5>Chronic bronchitis  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id61">
           <a href="http://www.icd9data.com/2015/Volume1/460-519/490-496/491/default.htm">ICD-491 & Info</a>           
             
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id62')">


<h5>Diseases of white blood cells  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id62">
           <a href="http://www.icd9data.com/2015/Volume1/280-289/288/default.htm">ICD-288 & Info</a>           
             
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id63')">


<h5>Hyperplasia of prostate </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id63">
           <a href="http://www.icd9data.com/2015/Volume1/580-629/600-608/600/default.htm">ICD-600 & Info</a>           
             
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id64')">


<h5>Diseases of pancreas </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id64">
           <a href="http://www.icd9data.com/2015/Volume1/520-579/570-579/577/default.htm">ICD-577 & Info</a>           
             
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id65')">


<h5>Retinal disorders </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id65">
           <a href="http://www.icd9data.com/2015/Volume1/320-389/360-379/362/default.htm">ICD-362 & Info</a>           
             
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id66')">


<h5>Diseases of respiratory </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id66">
           <a href="http://www.icd9data.com/2015/Volume1/460-519/510-519/519/default.htm">ICD-519</a>           
              &emsp;
    <a href="https://www.khanacademy.org/science/health-and-medicine/respiratory-system-diseases">Info</a>
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id67')">


<h5>Diverticula of intestine  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id67">
           <a href="http://www.icd9data.com/2015/Volume1/520-579/560-569/562/default.htm">ICD-562 & Info</a>           
             
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id68')">


<h5>organic psychotic conditions (chronic)  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id68">
           <a href="http://www.icd9data.com/2015/Volume1/290-319/290-294/294/default.htm">ICD-294</a>           
              &emsp;
    <a href="https://www.britannica.com/topic/organic-psychosis">Info</a>
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id69')">


<h5>Disorders of mineral metabolism  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id69">
           <a href="http://www.icd9data.com/2015/Volume1/240-279/270-279/275/default.htm">ICD-275 & Info</a>           
             
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id70')">


<h5>Unspecified protein-calorie malnutrition  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id70">
           <a href="http://www.icd9data.com/2015/Volume1/240-279/260-269/263/default.htm">ICD-263</a>           
             &emsp;
    <a href="https://en.wikipedia.org/wiki/Protein%E2%80%93energy_malnutrition">Info</a>
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id71')">


<h5>Aortic aneurysm and dissection  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id71">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/440-449/441/default.htm">ICD-441</a>           
             &emsp;
    <a href="http://aortadissektion.com/en/">Info</a>
            
             </div>
</div>
     <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id72')">


<h5>Aortic aneurysm and dissection  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id72">
           <a href="http://www.icd9data.com/2015/Volume1/520-579/560-569/569/default.htm">ICD-569</a>           
             &emsp;
    <a href="https://en.wikipedia.org/wiki/Gastrointestinal_disease">Info</a>
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id73')">


<h5>Functional digestive disorders not elsewhere classified  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id73">
           <a href="http://www.icd9data.com/2015/Volume1/520-579/560-569/564/default.htm">ICD-564 & Info</a>           
         
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id74')">


<h5>Transient organic psychotic conditions </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id74">
           <a href="http://www.icd9data.com/2015/Volume1/290-319/290-294/293/default.htm">ICD-293</a>           
          &emsp;
    <a href="https://en.wikipedia.org/wiki/Organic_mental_disorders">Info</a>
            
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id75')">


<h5>Pain, not elsewhere classified  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id75">
           <a href="http://www.icd9data.com/2015/Volume1/320-389/338-338/338/default.htm">ICD-338</a>           
          &emsp;
    <a href="http://www.icd9data.com/2015/Volume1/320-389/338-338/338/338.htm">Info</a>
            
             </div>
</div>
   <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id76')">


<h5>Varicose veins of other sites  </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id76">
           <a href="http://www.icd9data.com/2015/Volume1/390-459/451-459/456/default.htm">ICD-456 & Info</a>           
         
             </div>
</div>
    <div class="w3-container w3-card-12 w3-hover-shadow w3-btn w3-white w3-center w3-margin-bottom" style="margin-left: auto; margin-right: auto; width: 85%" onclick="myFunction('id77')">


<h5>Osteoarthrosis and allied disorders </h5> 
<div class="w3-container w3-cell w3-hide" style="width: 20%" id="id77">
           <a href="http://www.icd9data.com/2015/Volume1/710-739/710-719/715/default.htm">ICD-715</a>           
         &emsp;
    <a href="https://en.wikipedia.org/wiki/Osteoarthritis">Info</a>
             </div>
</div>
    
<!-- footer -->
<footer class="w3-center w3-black w3-padding-24 w3-opacity w3-hover-opacity-off">
      <a href="#home" class="w3-btn w3-padding w3-light-grey w3-hover-grey trans font-heading"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      <div class="w3-xxxlarge w3-section">
    <a href="https://naresh1318.github.io/DiagnosisPredictor/"><i class="fa fa-github w3-hover-text-indigo"></i></a>
      </div>
    <h5 style="font-family: Courgette">By Harshith, Naresh, Nishank and Puneeth</h5>
</footer>

<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
</body>
</html>
