<!DOCTYPE html>
<html>
<head>
<title> Diagnosis Predictor</title>
<meta charset="UTF-8">
    <!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#000000" />
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#000000">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href='//fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/gif/png" href="https://cdn2.iconfinder.com/data/icons/medical-icons-6/48/4-512.png">
<style>
.small_div{
  width: 90%
}

.small_div_header{
  width: 80%
}
.small_spaces{
  margin-top: -5%
}
/* Turn off parallax scrolling for tablets and phones */
@media screen and (min-width: 480px) {
    .small_div {
        width: 60%
    }
    .small_div_header{
        width: 30%
    }
    .small_spaces{
        margin-top: 5%
    }
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

</style>
</head>

<body>


<!-- Header -->
<header class="w3-container w3-center w3-padding-128 small_spaces">
  <h2 class="w3-wide" style="font-family: Courgette">Thank you for your feedback</h2>
</header>




<!-- Footer -->
<footer class="w3-center w3-black w3-padding-24 w3-opacity w3-hover-opacity-off w3-bottom">
      <div class="w3-xxxlarge w3-section">
    <a href="https://naresh1318.github.io/DiagnosisPredictor/"><i class="fa fa-github w3-hover-text-indigo"></i></a>
      </div>
    <h5 style="font-family: Courgette">By Harshith, Naresh, Nishank and Puneeth</h5>
</footer>

<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>




</html>
